<section class="hero is-warning">

  <div class="columns mt-5">
    <div class="column is-2">

    </div>
    <div class="column mt-5">
      <h1 class="title is-1 m-5">당신 근처의<br>지역 생활 커뮤니티</h1>
      <h5 class="subtitle is-5 m-5">
        동네라서 가능한 모든 것<br>당근에서 가까운 이웃과 함께해요.
      </h5>
      <br>

    </div>

    <div class="column">
      <img src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/rebranded-image-top-e765d561ee9df7f5ab897f622b8b5a35aaa70314f734e097ea70e6c83bdd73f1.webp " class="home-main-image-top" alt="중고거래, 동네생활 질문글, 알바와 동네업체" src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/3x/rebranded-image-top-eb44f81acb1938b57ba029196887cdd56fbb66dc46aa5d8c6d8392a7d8c9e671.png">

    </div>

    <div class="column is-2">

    </div>
  </div>

</section>