<div class="columns">

  <div class="column">

  </div>

  <div class="column has-text-centered">
    <h4 class="title is-4">앗! 죄송해요.</h4>

    <p><%= @message %></p>

    <%= link_to '홈으로 이동', '/' %>

  </div>

  <div class="column">

  </div>
</div>

