<nav class="navbar is-fixed-bottom" role="navigation">
  <div class="navbar-brand">
    <a class="navbar-item is-expanded is-block has-text-centered">
      <i class="fa fa-home"></i>
      <p class="is-size-7">홈</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered">
      <i class="fa fa-building"></i>
      <p class="is-size-7">동네생활</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered">
      <i class="fa fa-crosshairs"></i>
      <p class="is-size-7">내 근처</p>
    </a>
    <a class="navbar-item is-expanded is-block has-text-centered">
      <i class="fa fa-comment"></i>
      <p class="is-size-7">채팅</p>
    </a>

    <a class="navbar-item is-expanded is-block has-text-centered">
      <i class="fa fa-user"></i>
      <p class="is-size-7">나의 당근</p>
    </a>
  </div>
</nav>